@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}

.htmx-indicator {
  opacity: 0;
  transition: opacity 300ms ease-out;
  transition: z-index 400ms ease-out;
  z-index: -1;
  -webkit-transition: z-index 400ms ease-out;
  -moz-transition: z-index 400ms ease-out;
  -ms-transition: z-index 400ms ease-out;
  -o-transition: z-index 400ms ease-out;
}

.htmx-request .htmx-indicator {
  opacity: 1;
  z-index: 50;
}

.htmx-request.htmx-indicator {
  opacity: 1;
  z-index: 50;
}